* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #00ccff 0%, #0000cc 100%);
  padding: 0 !important;
}

.navbar-brand img {
  height: 55px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-weight: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

/* Banner section*/

#banner {
  background-image: linear-gradient(to right, #00ccff 0%, #0000cc 100%);
  background-size: cover;
  color: #fff;
  padding: 4rem 2rem 4rem;
  text-align: center;
  height: 100vh;
}

@media (max-width: 500px) {
  #banner {
    padding: 0 1rem 3rem;
  }
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

/* Services section */

#services {
  padding: 80px 0;
  background: #f8f9fa;
}

.service-img {
  width: 250px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  text-transform: uppercase;
}

.services .services-header1 {
  margin-top: 25px;
}

.services .services-header2 {
  margin-top: 0px;
}

.services .services-header3 {
  margin-top: 43px;
}

.title::before {
  content: "";
  background: #00ccff;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background: #00ccff;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #00ccff 0%, #0000cc 100%);
}

#services .text-color {
  color: #fff;
  text-decoration: none;
}

/* About us section */

#why-us {
  background: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#why-us p {
  margin: 10px 0;
}

/* Testimonials section */

#testimonials {
  background: #f8f9fa;
  padding: 2rem;
}

.testimonials {
  border-left: 4px solid #00ccff;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.testimonials img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 10px 10px;
}

.user-details {
  display: inline-block;
  font-size: 15px;
}

/* Footer section */

#footer {
  background-image: linear-gradient(to right, #00ccff 0%, #0000cc 100%);
  color: #fff;
  font-size: 20px;
}

.footer-box {
  padding: 20px;
}

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

#footer img {
  width: 60px;
  transition: 0.5s;
}

#footer a:hover img {
  transform: translateY(-10px);
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #00ccff 0%, #0000cc 100%);
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, #00ccff 0%, #0000cc 100%);
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}